:root {
    --cor-texto-principal: #0B254B;
    --cor-texto-secundario: #5E6E89;
    --cor-texto: #EFEFEF;
    --fonte-texto: "Poppins", sans-serif;
    --fonte-titulo: "Orbitron", sans-serif;
    --cor-links: #090129;
    --cor-destaque-secundario: #8FFF24;
    --cor-fundo-botao: #780BF7;
    --cor-de-fundo: #FFFFFF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

main {
    width: 100%;
}

.newsletter {
    padding: 40px 12.5%;
    text-align: center;
    background-color: var(--cor-destaque-secundario);
    margin: 0 auto;
}

.newsletter_titulo {
    color: var(--cor-texto-principal);
    font-family: "Poppins", sans-serif;
    font-size: 31px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 24px;
}

.newsletter_texto {
    font-family: var(--fonte-texto);
    color: var(--cor-texto-principal);
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    margin-bottom: 24px;
}

.newsletter_container {
    display: inline-grid;
    width: 60%;
    grid-template-columns: 1fr auto;
    gap: 16px;
}

.newsletter_container_input {
    width: 100%;
    grid-column: 1;
    padding: 16px 24px;
    border-radius: 32px;
    background-color: transparent;
    border: 2px solid #090129;
    font-family: var(--fonte-texto);
    color: var(--cor-texto-principal);
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}

.newsletter_container_input::placeholder {
    font-family: var(--fonte-texto);
    color: var(--cor-texto-principal);
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}

.newsletter_container_botao {
    grid-column: 2;
    padding: 16px 24px;
    border-radius: 32px;
    background-color: var(--cor-fundo-botao);
    color: var(--cor-texto);
    font-family: var(--fonte-texto);
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.main {
    width: 100%;
    height: 100%;
    margin: 10px #25034A;
    background-color: #25034A;
}

#acessar {
    padding: 10px 20px;
    border-radius: 30px;
    margin-left: 45%;
    background-color: #8FFF24;
}

.cabecalho .conta h3 {
    color: #8FFF24;
    margin-top: 50px;
    margin-left: 4rem;
    font-family: "Poppins", sans-serif;
}

label {
    font-family: "Poppins", sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

input {
    padding: 12px 6px;
    border-radius: 30px;
    font-size: 1rem;
    margin-top: 4px;
    height: 12%;
    width: 55%;
}

.main .titulo {
    text-align: center;
    color: #25034A;
      display: flex;
  justify-content: center;
  align-items:center ;
}

.barra {
    height: 0.3rem;
    width: 20%;
    background-color: #8FFF24;
    margin-left: 40%;
}

.cabecalho_logo img {
    width: 100px;
    height: 100px;
    margin-left: 40px;
}

.cabecalho ul {
    list-style-type: none;
}

.cabecalho ul .links {
    margin-top: 100px;
    list-style-type: none;
    margin-left: 30px;
}

.cabecalho ul .links a {
    color: #ffff;
    font-family: "Poppins", sans-serif;
    list-style-type: none;
}

#loginForm {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-left: 30%;
    margin-top: 40px;
    margin-bottom: 40px;
}

label {
    font-family: "Poppins", sans-serif;
    color: #ffff;
    font-size: 22px;
}

.endereco {
    flex: 2;
    min-width: 200px;
}

.principal {
    margin-top: 40px;
}

.principal h1 {
    text-align: center;
    color: #ffff;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.roxo3 ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.roxo3 button {
    border-radius: 50px;
    padding: 12px 15px;
    margin: 20px;
    cursor: pointer;
    background-color: #ffffff;
}

.roxo3 button img {
    width: 50px;
    height: 50px;
}

.roxo3 a {
    margin-left: 46%;
    margin-top: 10px;
    color: #ffff;
}

.criaconta {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: first baseline;
    margin-left: 42%;
    margin-top: 50px;
}

.criaconta a {
    text-decoration: none;
    color: #ffffff;
}

.barra2 {
    height: 2px;
    width: 5%;
    background-color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    .newsletter__container {
        display: inline;
    }

    .newsletter__container_input {
        margin-bottom: 16px;
    }

    #principal .loginForm {
        display: grid;
        flex-direction: column;
    }

    .roxo3 ul {
        display: flex;
        flex-direction: column;
    }

    .barra2 {
        width: 60%;
        height: 2px;
    }
}

body {
    width: 100%;
}